.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .header__logo img {
    height: 100px;
  }
  
  .header__search {
    display: flex;
    align-items: center;
  }
  
  .header__inputButtton {
    padding: 10px 20px;
    border: none;
    background-color: #ff4500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .header__inputButtton:hover {
    background-color: #ff6347;
  }
  
  .header__menu {
    display: flex;
    align-items: center;
  }
  
  .header__button {
    margin-left: 20px;
    padding: 10px 15px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Prevents underline on links */
  }
  
  .header__button:hover {
    background-color: #777;
  }
  
  .header__button.btn {
    background-color: #ff4500;
  }
  
  .header__button.btn:hover {
    background-color: #ff6347;
  }
  
  .header__logo a {
    text-decoration: none;
  }
  