.animecard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    margin: 3px 6px;
}

.animecard__info{
    margin-top: auto; /* Pushes this element to the bottom */
    text-align: center;
    font-size: 0.9em;
    color: #666;
    justify-content: space-around;
}